*.xcbkptlist
House.xcodeproj/project.xcworkspace/xcuserdata/user.xcuserdatad/UserInterfaceState.xcuserstate
.DS_Store
House.xcodeproj/xcshareddata/xcschemes/House.xcscheme
House.xcodeproj/xcshareddata/xcschemes/HouseAppClip.xcscheme
